body {
  text-align: center;
  font-family:'happy monkey',cursive;
  background-color: 	#FFD700;
  color:black;
}

#dad-img {
  width: 250px;
  border-radius: 5%;
  border:5px solid #FF1493;
}

h1, h3{
  text-shadow:0px 0px 1px #fff;
}

h3{
  background:#EFB0C9;
  padding:10px;
  border-radius: 15%;
}

#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.gift-section {
  margin-top: 50px;
}

.gift-hint {
  margin-top: 0;
  margin-bottom: 10px;
}

.gift-img {
      margin: 0 auto;
      width: 400px;
      height: 300px;
      border: 6px solid red;
      border-radius: 10px;
      background-image: url("cover.jpg");
      background-size: cover;
  }

#gift-img-wish:hover {
    background-image: url("wish.gif");
  width: 260px;
  height: 300px;
}

#gift-img-hero:hover {
background-image: url("hero.gif");
width: 300px;
height: 230px;
}

#gift-img-love:hover {
background-image: url("love.jpeg");
width: 300px;
height: 330px;
}

#gift-img-us:hover {
background-image: url("us.jpeg");
width: 320px;
height:410px;
}

#gift-img-us1:hover {
background-image: url("us1.jpeg");
width: 320px;
height:410px;
}

#gift-img-brother:hover {
background-image: url("brother.jpeg");
width: 320px;
height:410px;
}

#gift-img-brother1:hover {
background-image: url("brother1.jpeg");
width: 320px;
height:410px;
}

#gift-img-Drawing:hover {
background-image: url("Drawing.jpeg");
width: 480px;
height:310px;
}
